In [ ]:
# Assignment 1 : Take a input to a list and sort it in descending order

In [ ]:
li = [1,5,7,9,5,4,8,6,3,]
li.sort()
print(li)

[1, 3, 4, 5, 5, 6, 7, 8, 9]

In [ ]:
li = [1,5,7,9,5,4,8,6,3,]
li.reverse()
print(li)

[3, 6, 8, 4, 5, 9, 7, 5, 1]

In [ ]:
# list in descending order
li = [1,5,7,9,5,4,8,6,3,]
li.sort()
li.reverse()
print(li)

[9, 8, 7, 6, 5, 5, 4, 3, 1]

In [ ]:
# input list in descending order

li = [int(i) for i in input("enter values:  ").split()]
li.sort()
li.reverse()
print(li)

enter values:  12 4 54 87 98 14 15 32 47
[98, 87, 54, 47, 32, 15, 14, 12, 4]